.cards-box {
  display: flex;
  justify-content: space-around;
}

.card {
  text-align: center;
  margin: 20px;
  padding: 25px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0 ,0.3);
}
